<form method="post" action="/users/signin">
  <div>
    <label for="username">Username:</label>
    <input name="username" id="username" value="<%= params[:username] %>" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input name="password" id="password" type="password" />
  </div>
  <button class="submit">Sign In</button>
</form>
